.header{
  position:relative;
  /* background: url('/img/main.png') center / cover; */
}

.headerMain{
  margin:110px 0 0 110px;
  position:relative;
  z-index:1;
}

.title{
  font-weight: 800;
  font-size: 50px;
  line-height: 62px;
  color: #FFFFFF;
  width:100%;
  max-width:600px;
  margin-bottom:43px;
}

.subtitle{
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  width:100%;
  max-width:420px;
  margin-bottom: 50px;
}

.btnGroup{
  display:flex;
  align-items:center;
}

.headerImg{
  width:95%;
  height:600px;
  transform:translateY(150px);
  transition:0.3s;
  transition-timing-function: ease-in-out;
  perspective:1500px;
}

.header__desktop{
  position:absolute;
  height:100%;
  top:0;
  left:5%;
  max-width:100%;
  transform:rotateY(10deg) rotateX(4deg) skew(3deg);
}

.header__mobile{
  position:absolute;
  top:-50px;
  left:70%;
  height:100%;
  transform:rotateY(-10deg) rotateX(-4deg) skew(-3deg);
  transition:0.3s;
}

.points{
  position:absolute;
}

.points1{
  right:180px;
  top:460px;
}

.points2{
  bottom:50px;
  right:-20px;
}

.glass{
  position:absolute;
  top:63px;
  left:-70px;
  right:-70px;
  bottom:226px;
  background: linear-gradient(244.14deg, rgba(255, 255, 255, 0.07) 2.6%, rgba(54, 32, 91, 0.07) 98.31%);
  border-radius:50px;
  z-index:0;
  border: 3px solid #29233F;
}

@media screen and (max-width:1600px){
  .glass{
    left:0;
    right:0;
    top:40px;
  }
}
