.advantages{
  margin-bottom:30px;
  overflow:hidden;
  padding-top:200px;
}

.services{
  position:relative;
  background: linear-gradient(178.5deg, #F4F4F4 1.28%, #FFFFFF 98.72%);
  padding:130px 110px 80px 110px;
  border-radius:50px;
}

.servicesMain{
  display:flex;
  align-items:center;
  justify-content: space-between;
  flex-wrap:wrap;
  margin-top: 100px;
}

.servicesItem{
  display:flex;
  align-items: flex-start;
  width:46%;
  margin-bottom:45px;
}

.servicesItem__img{
  margin-right:34px;
  width:44px;
  height:44px;
  position:relative;
  min-width:44px;
}

.servicesItem__title{
  font-family: 'SF Pro Display';
  font-size: 24px;
  color: #736C7A;
  margin-bottom:25px;
}

.servicesItem__text{
  font-family: 'Geometria Regular';
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  height:150px;
}

@media screen and (max-width:1000px){
  .services{
    padding:130px 30px 80px 30px;
  }
}

@media screen and (max-width:800px){
  .services{
    padding:130px 20px 0px 20px;
  }
}

@media screen and (max-width:700px){
  .servicesItem{
    width:100%;
    margin-bottom:20px;
  }
  .advantages{
    padding-top:100px;
  }
}
