.dropdown{
  width:215px;
  height:45px;
  background: #FFFFFF;
  border-radius: 10px;
  margin: 60px auto 0 auto;
  padding:0 20px;
  display:flex;
  align-items:center;
  justify-content: space-between;
  cursor:pointer;
  position:relative;
}

.dropdown__value{
  font-family: 'SF Pro Display';
  font-weight: 600;
  font-size: 13px;
  color: #492A64;
}

.dropdown__after{
  top:0;right: 0;left: 0;bottom: 0;
  position:absolute;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(128, 125, 125, 0.19);
}

.options{
  position:absolute;
  top:54px;
  width:100%;
  left:0;
  background: #FFFFFF;
  border-radius: 10px;
  z-index:3;
  box-shadow: 0px 0px 5px rgba(128, 125, 125, 0.19);
}

.option{
  height:45px;
  display:flex;
  align-items:Center;
  padding-left:20px;
  font-size: 13px;
  color: #968D9D;
  transform-origin: top;
}

@keyframes open-options {
  0% { transform: matrix3d(1, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% { transform: matrix3d(1, 0, 0, 0, 0, 0.725, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% { transform: matrix3d(1, 0, 0, 0, 0, 0.942, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% { transform: matrix3d(1, 0, 0, 0, 0, 1.07, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% { transform: matrix3d(1, 0, 0, 0, 0, 1.106, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% { transform: matrix3d(1, 0, 0, 0, 0, 1.075, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% { transform: matrix3d(1, 0, 0, 0, 0, 1.024, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% { transform: matrix3d(1, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% { transform: matrix3d(1, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% { transform: matrix3d(1, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% { transform: matrix3d(1, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% { transform: matrix3d(1, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}
