.nav{
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding-top:113px;
}

.logo{
  display:flex;
  align-items:center;
  flex-grow:1;
}

.logoFirstImg{
  margin-right:27px;
}

.links{
  display:flex;
  align-items:center;
}

.link{
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  list-style-type: none;
  cursor:pointer;
  margin-left:50px;
  display:block;
  position:relative;
}

.linkShape{
  position:absolute;
  background: #fff;
  width:100%;
  height:2px;
  bottom:-10px;
  transform:scaleX(0);
  transition:0.2s;
}

.switcher{
  color:#fff;
  margin-left:40px;
  display:flex;
  position:relative;
}

.switcherLink{
  font-size:20px;
  margin-left:10px;
  cursor:pointer;
  text-transform: uppercase;
}

.burger{
  width:50px;
  height:50px;
  border:1px solid tomato;
  display:none;
}

@media screen and (max-width:1600px){
  .nav{
    padding:80px 40px 0 40px;
  }
}

@media screen and (max-width:800px){
  .links{
    display:none;
  }
  .burger{
    display:block;
  }
}

@media screen and (max-width:500px){
  .logo img{
    display:none;
  }
}
