html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Gilroy', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html{
  font-size:10px;
}

a {
  color: inherit;
  text-decoration: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-user-select: none; /* Mozilla Firefox */
  -ms-user-select: none; /* Internet Explorer (не поддерживается) */
  -o-user-select: none; /* Opera Presto (не поддерживается) */
  -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
  -webkit-tap-highlight-color: transparent;
}

section{
  position:relative;
}

.app-wrapper{
  width:95%;
  max-width:1200px;
  margin:0 auto;
  position:relative;
  z-index:10;
}

.section__subtitle, .section__title{
  text-transform: uppercase;
  margin-bottom: 45px;
  text-align: center;
}

.section__subtitle{
  font-weight: bold;
  font-size: 16px;
  color: #684289;
}

.section__title{
  font-weight: 800;
  font-size: 36px;
  color: #492A64;
  text-transform:none;
}

.section__description{
  font-family: 'SF Pro Display', sans-serif;
  font-size: 24px;
  line-height: 125%;
  color: #6D6476;
  text-align: center;
  max-width:650px;
  margin:0 auto;
}
